{% extends "layout/layout.html.twig" %}

{% block content %}
	<section class=" flex justify-center py-10 min-h-screen flex-col items-center text-ellipsis ">
		{{ form_start(playerForm, {'attr' : {'class' : 'flex flex-col transition duration-150 ease-out w-1/3 bg-gray-200 px-4 py-6 rounded shadow-md' } }) }}

		{{ form_label(playerForm.name,null,{'label_attr' : {'class' : 'text-black text-sm mb-1'}}) }}
		{{ form_widget(playerForm.name,{'attr' : { 'class' : 'py-1 px-2 placeholder:text-gray-400 shadow-md outline-none rounded border focus:ring-green-600 focus:ring-1 focus:border-green-600 transition duration-150 ease-out'}}) }}
		<span class="text-sm text-red-500 font-bold mb-3 mt-1">{{ form_errors(playerForm.name) }}</span>


		{{ form_label(playerForm.birthday,'Birth Day',{'label_attr' : {'class' : 'text-black text-sm mb-1'}}) }}
		{{ form_widget(playerForm.birthday,{'attr' : { 'class' : ' py-1 px-2 placeholder:text-gray-400 shadow-md outline-none rounded border focus:ring-green-600 focus:ring-1 focus:border-green-600 transition duration-150 ease-out'}}) }}
		<span class="text-sm text-red-500 font-bold mb-3 mt-1">{{ form_errors(playerForm.birthday) }}</span>

		{{ form_label(playerForm.height,'Height (cm)',{'label_attr' : {'class' : 'text-black text-sm mb-1'}}) }}
		{{ form_widget(playerForm.height,{'attr' : { 'class' : 'py-1 px-2 placeholder:text-gray-400 shadow-md outline-none rounded border focus:ring-green-600 focus:ring-1 focus:border-green-600 transition duration-150 ease-out'}}) }}
		<span class="text-sm text-red-500 font-bold mb-3 mt-1 ">{{ form_errors(playerForm.height) }}</span>


		{{ form_label(playerForm.weight,'Weight (Kg)',{'label_attr' : {'class' : 'text-black text-sm mb-1'}}) }}
		{{ form_widget(playerForm.weight,{'attr' : { 'class' : 'py-1 px-2 placeholder:text-gray-400 shadow-md outline-none rounded border focus:ring-green-600 focus:ring-1 focus:border-green-600 transition duration-150 ease-out'}}) }}
		<span class="text-sm text-red-500 font-bold mb-3 mt-1 ">{{ form_errors(playerForm.weight) }}</span>
		
		{{ form_label(playerForm.team,'team (Kg)',{'label_attr' : {'class' : 'text-black text-sm mb-1'}}) }}
		{{ form_widget(playerForm.team,{'attr' : { 'class' : 'py-1 px-2 placeholder:text-gray-400 shadow-md outline-none rounded border focus:ring-green-600 focus:ring-1 focus:border-green-600 transition duration-150 ease-out'}}) }}
		<span class="text-sm text-red-500 font-bold mb-3 mt-1 ">{{ form_errors(playerForm.team) }}</span>
		
		
		{{ form_widget(playerForm.fifaApiId,{'attr' : { 'class' : 'hidden'}}) }}

		{{ form_widget(playerForm.submit, { 'label' : 'Add Player', 'attr' : { 'class' : 'rounded border border-2 border-green-700 bg-green-700 py-2 text-sm text-white font-bold hover:text-green-700 hover:bg-white hover:border-green-700 transition duration-150 ease-out disabled:bg-gray-400 disabled:border-gray-400 disabled:cursor-no-drop disabled:hover:text-white' } ,'disabled' : false }) }}

		{{ form_end(playerForm) }}
	</section>
{% endblock %}
