{% extends "layout/layout.html.twig" %}

{% block content %}
	<section class="flex gap-6 py-10 flex-col items-center text-ellipsis ">
		<h1 class="text-3xl font-bold text-violet-600 self-start ml-14">Players:</h1>
		<table class="table justify-self-center place-self-center">
			<thead class="table-header-group">
				<tr>
					<th class="border border-gray-500 px-4 py-2 bg-gray-300">Name</th>
					<th class="border border-gray-500 px-4 py-2 bg-gray-300">BirthDay</th>
					<th class="border border-gray-500 px-4 py-2 bg-gray-300">Height (m)</th>
					<th class="border border-gray-500 px-4 py-2 bg-gray-300">Weight (Kg)</th>
					<th class="border border-gray-500 px-4 py-2 bg-gray-300">Team</th>
					{% if is_granted('ROLE_ADMIN') %}
						<th class="bg-blue-700 text-white px-2 py-2 border border-gray-500">
							<a href="player/create" class="">New 
								<i class="fa-solid fa-user-plus"></i>
							</a>
						</th>
					{% endif %}
				</tr>
			</thead>
			<tbody class="border border-black">
				{% for player in players %}
					<tr class="bg-white ">
						<td class="py-1 px-7">{{player.name}}</td>
						<td class="py-1 px-7">{{player.birthday|date('d/m/Y')}}</td>
						<td class="py-1 px-7">{{player.height / 100|number_format(2, '.', ',')}}</td>
						<td class="py-1 px-7">{{player.weight}}</td>
						<td class="py-1 px-7">{{player.getTeamId().name}}
							<span class="text-sm font-semibold">
								({{player.getTeamId().shortName}})</span>
						</td>
						{% if is_granted('ROLE_ADMIN') %}
							<td class="py-1 px-7">
								<a href="player/edit/{{player.id}}" class="text-sm text-green-600 py-0 px-4">
									<i class="fa-solid fa-user-pen"></i>
								</a>
							</td>
						{% endif %}
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</section>

{% endblock %}
